extends layout

block content
    .row.containerHolder
        .col-sm-12.col-md-3.profileSection
            .profileInfo.row
                .col-sm
                    img(src)
                    p Gaseema Ndung'u
                    P Software Developer
                    ul
                        li O
                        li O
                        li O
                        li O
            .cvLink.row
                .col-sm
                    button download cv
        .col-sm-12.col-md-8.infoSection
        .col-sm-12.col-md-1.navSection
