extends layout

block content
    .row.containerHolder
        .col-sm-12.col-md-3.profileSection(style='text-align: center;')
            img(src='/images/logo.png' style='width: 80px;')
            .row.sticky-top(style="margin: 10px 5px; -webkit-box-shadow: -3px 3px 34px -7px rgba(43,43,43,1);-moz-box-shadow: -3px 3px 34px -7px rgba(43,43,43,1);box-shadow: -3px 3px 34px -7px rgba(43,43,43,1); top: 20px;")
                .profileInfo.col-sm-12
                    img(src='/images/me.jpg')
                    p Gaseema Ndung'u
                    P(style="font-weight: normal; padding: 0px; font-size: 1em;") Software Developer
                    div(style='padding: 20px 0px;')
                        a(href='https://github.com/Gaseema' target='_blank')
                            svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 438.549 438.549', style='enable-background:new 0 0 438.549 438.549; width: 20px;', xml:space='preserve')
                              path(d='M409.132,114.573c-19.608-33.596-46.205-60.194-79.798-79.8C295.736,15.166,259.057,5.365,219.271,5.365   c-39.781,0-76.472,9.804-110.063,29.408c-33.596,19.605-60.192,46.204-79.8,79.8C9.803,148.168,0,184.854,0,224.63   c0,47.78,13.94,90.745,41.827,128.906c27.884,38.164,63.906,64.572,108.063,79.227c5.14,0.954,8.945,0.283,11.419-1.996   c2.475-2.282,3.711-5.14,3.711-8.562c0-0.571-0.049-5.708-0.144-15.417c-0.098-9.709-0.144-18.179-0.144-25.406l-6.567,1.136   c-4.187,0.767-9.469,1.092-15.846,1c-6.374-0.089-12.991-0.757-19.842-1.999c-6.854-1.231-13.229-4.086-19.13-8.559   c-5.898-4.473-10.085-10.328-12.56-17.556l-2.855-6.57c-1.903-4.374-4.899-9.233-8.992-14.559   c-4.093-5.331-8.232-8.945-12.419-10.848l-1.999-1.431c-1.332-0.951-2.568-2.098-3.711-3.429c-1.142-1.331-1.997-2.663-2.568-3.997   c-0.572-1.335-0.098-2.43,1.427-3.289c1.525-0.859,4.281-1.276,8.28-1.276l5.708,0.853c3.807,0.763,8.516,3.042,14.133,6.851   c5.614,3.806,10.229,8.754,13.846,14.842c4.38,7.806,9.657,13.754,15.846,17.847c6.184,4.093,12.419,6.136,18.699,6.136   c6.28,0,11.704-0.476,16.274-1.423c4.565-0.952,8.848-2.383,12.847-4.285c1.713-12.758,6.377-22.559,13.988-29.41   c-10.848-1.14-20.601-2.857-29.264-5.14c-8.658-2.286-17.605-5.996-26.835-11.14c-9.235-5.137-16.896-11.516-22.985-19.126   c-6.09-7.614-11.088-17.61-14.987-29.979c-3.901-12.374-5.852-26.648-5.852-42.826c0-23.035,7.52-42.637,22.557-58.817   c-7.044-17.318-6.379-36.732,1.997-58.24c5.52-1.715,13.706-0.428,24.554,3.853c10.85,4.283,18.794,7.952,23.84,10.994   c5.046,3.041,9.089,5.618,12.135,7.708c17.705-4.947,35.976-7.421,54.818-7.421s37.117,2.474,54.823,7.421l10.849-6.849   c7.419-4.57,16.18-8.758,26.262-12.565c10.088-3.805,17.802-4.853,23.134-3.138c8.562,21.509,9.325,40.922,2.279,58.24   c15.036,16.18,22.559,35.787,22.559,58.817c0,16.178-1.958,30.497-5.853,42.966c-3.9,12.471-8.941,22.457-15.125,29.979   c-6.191,7.521-13.901,13.85-23.131,18.986c-9.232,5.14-18.182,8.85-26.84,11.136c-8.662,2.286-18.415,4.004-29.263,5.146   c9.894,8.562,14.842,22.077,14.842,40.539v60.237c0,3.422,1.19,6.279,3.572,8.562c2.379,2.279,6.136,2.95,11.276,1.995   c44.163-14.653,80.185-41.062,108.068-79.226c27.88-38.161,41.825-81.126,41.825-128.906   C438.536,184.851,428.728,148.168,409.132,114.573z')


                        a(href='https://www.linkedin.com/in/gaseema-ndung-u-b99502b6/' target='_blank')
                            svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 430.117 430.118', style='enable-background:new 0 0 430.117 430.118; width: 20px;', xml:space='preserve')
                              path#LinkedIn__x28_alt_x29_(d='M398.355,0H31.782C14.229,0,0.002,13.793,0.002,30.817v368.471   c0,17.025,14.232,30.83,31.78,30.83h366.573c17.549,0,31.76-13.814,31.76-30.83V30.817C430.115,13.798,415.904,0,398.355,0z    M130.4,360.038H65.413V165.845H130.4V360.038z M97.913,139.315h-0.437c-21.793,0-35.92-14.904-35.92-33.563   c0-19.035,14.542-33.535,36.767-33.535c22.227,0,35.899,14.496,36.331,33.535C134.654,124.415,120.555,139.315,97.913,139.315z    M364.659,360.038h-64.966V256.138c0-26.107-9.413-43.921-32.907-43.921c-17.973,0-28.642,12.018-33.327,23.621   c-1.736,4.144-2.166,9.94-2.166,15.728v108.468h-64.954c0,0,0.85-175.979,0-194.192h64.964v27.531   c8.624-13.229,24.035-32.1,58.534-32.1c42.76,0,74.822,27.739,74.822,87.414V360.038z M230.883,193.99   c0.111-0.182,0.266-0.401,0.42-0.614v0.614H230.883z')


                        a(href='https://twitter.com/Gaseema' target='_blank')
                            svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 510 510', style='enable-background:new 0 0 510 510; width: 20px;', xml:space='preserve')
                                  path(d='M459,0H51C22.95,0,0,22.95,0,51v408c0,28.05,22.95,51,51,51h408c28.05,0,51-22.95,51-51V51C510,22.95,487.05,0,459,0z     M400.35,186.15c-2.55,117.3-76.5,198.9-188.7,204C165.75,392.7,132.6,377.4,102,359.55c33.15,5.101,76.5-7.649,99.45-28.05    c-33.15-2.55-53.55-20.4-63.75-48.45c10.2,2.55,20.4,0,28.05,0c-30.6-10.2-51-28.05-53.55-68.85c7.65,5.1,17.85,7.65,28.05,7.65    c-22.95-12.75-38.25-61.2-20.4-91.8c33.15,35.7,73.95,66.3,140.25,71.4c-17.85-71.4,79.051-109.65,117.301-61.2    c17.85-2.55,30.6-10.2,43.35-15.3c-5.1,17.85-15.3,28.05-28.05,38.25c12.75-2.55,25.5-5.1,35.7-10.2    C425.85,165.75,413.1,175.95,400.35,186.15z')
                .cvLink.col-sm-12
                    button download cv
        .col-sm-12.col-md-8.infoSection
            .row(style="margin: 10px 5px;")
                .col-sm-12.aboutMe#infoAboutMe
                    h3 HELLO, I'M GASEEMA!
                    p I'm a polyglot developer with over 4 years of experience as a software engineer, and have worked at both small startups and large organizations. While I'm a proficient full-stack developer, I'm majorly focused on server side development, but equally inclined to client side development as well.
                    button
                        svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 525.152 525.152', style='enable-background:new 0 0 525.152 525.152; width: 20px; margin-right: 15px; position: relative; top: -2px;', xml:space='preserve')
                            path(d='M420.735,371.217c-20.021,0-37.942,7.855-51.596,20.24L181.112,282.094c1.357-6.061,2.407-12.166,2.407-18.468   c0-6.302-1.072-12.385-2.407-18.468l185.904-108.335c14.179,13.129,32.931,21.334,53.719,21.334   c43.828,0,79.145-35.251,79.145-79.079C499.88,35.338,464.541,0,420.735,0c-43.741,0-79.079,35.338-79.079,79.057   c0,6.389,1.072,12.385,2.407,18.468L158.158,205.947c-14.201-13.194-32.931-21.378-53.741-21.378   c-43.828,0-79.145,35.317-79.145,79.057s35.317,79.079,79.145,79.079c20.787,0,39.54-8.206,53.719-21.334l187.698,109.604   c-1.291,5.58-2.101,11.4-2.101,17.199c0,42.45,34.594,76.979,76.979,76.979c42.428,0,77.044-34.507,77.044-76.979   S463.163,371.217,420.735,371.217z')


                        | share
                    hr
                    .row(style="padding-top: 20px;")
                        .col-sm-6
                            h5(style="color: #757575; font-size: 1.5em; padding-bottom: 20px") personal information
                            .row
                                .col-sm-5
                                    p
                                        span.personalInfoBlock
                                            | full name
                                    p
                                        span.personalInfoBlock
                                            | github
                                    p
                                        span.personalInfoBlock
                                            | e-mail
                                    p
                                        span.personalInfoBlock
                                            | phone
                                    p
                                        span.personalInfoBlock
                                            | freelance
                                .col-sm-7
                                    p Gaseema Ndung'u
                                    p
                                        a(href="https://github.com/Gaseema" target="_blank") @gaseema
                                    p gaseema.n@gmail.com
                                    p +254 721 882 694
                                    p Available
                        .col-sm-6
                            h5(style="color: #757575; font-size: 1.5em; padding-bottom: 20px") languages
                            p(style="margin: 0px;")
                                span.personalInfoBlock(style="margin: 0px;")
                                    | English
                            ul.languagesFluency(style="margin: 0px;")
                                li.full
                                li.full
                                li.full
                                li.full
                                li.full
                                li.full
                                li.empty
                                li.fluency fluent
                            p(style="margin: 0px;")
                                span.personalInfoBlock(style="margin: 0px;")
                                    | Swahili
                            ul.languagesFluency(style="margin: 0px;")
                                li.full
                                li.full
                                li.full
                                li.full
                                li.full
                                li.full
                                li.full
                                li.fluency native
                            p(style="margin: 0px;")
                                span.personalInfoBlock(style="margin: 0px;")
                                    | Chinese
                            ul.languagesFluency(style="margin: 0px;")
                                li.full
                                li.empty
                                li.empty
                                li.empty
                                li.empty
                                li.empty
                                li.empty
                                li.fluency beginner
                    hr
                    .row(style="padding-top: 20px;")
                        .col-sm-6
                            h5(style="color: #757575; font-size: 1.5em; padding-bottom: 20px") professional skills
                            p
                                span
                                    svg#Layer_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 434.147 434.147', style='enable-background:new 0 0 434.147 434.147; width: 20px; margin-right: 20px;', xml:space='preserve')
                                        path(style='fill:#FC490B;', d='M27.336,14.372l28.177,360.474c0.423,5.413,4.087,10.029,9.263,11.67l148.268,47.008  c2.622,0.831,5.437,0.831,8.059,0l148.268-47.008c5.176-1.641,8.84-6.257,9.263-11.67l28.177-360.474  C407.417,6.622,401.292,0,393.519,0H40.629C32.856,0,26.731,6.622,27.336,14.372z M334.553,126.215H150.918l5.542,51.105h174.099  L319.17,323.013l-102.096,32.369l-102.096-32.369l-5.95-76.116h53.588v37.336l55.89,15l55.556-15l4.31-59.503H107.295L95.937,79.419  H338.21L334.553,126.215z')
                                | HTML 5 & CSS 3
                            p
                                span
                                    img(src="/images/jslogo.png" style="width: 20px; margin-right: 20px;")
                                | JavaScript & jQuery
                            p
                                span
                                    img(src="/images/nodelogo.png" style="width: 20px; margin-right: 20px;")
                                | NodeJs
                            p
                                span
                                    img(src="/images/expresslogo.png" style="width: 20px; margin-right: 20px;")
                                | Express Js
                            p
                                span
                                    img(src="/images/mongologo.png" style="width: 20px; margin-right: 20px;")
                                | MongoDB
                            p
                                span
                                    img(src="/images/nginxlogo.png" style="width: 20px; margin-right: 20px;")
                                | Nginx
                            p
                                span
                                    svg#Layer_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 447.674 447.674', style='enable-background:new 0 0 447.674 447.674; width: 20px; margin-right: 20px;', xml:space='preserve')
                                        path(style='fill:#00769D;', d='M134.289,138.16h-24.722l67.399,190.521l37.732-107.825l-29.254-82.696H159.36v-18.154h115.508   v18.154h-27.049l67.398,190.521l24.227-69.234c31.781-88.702-26.048-116.333-26.048-136.129s16.048-35.843,35.843-35.843   c1.071,0,2.111,0.058,3.13,0.153c-33.541-31.663-78.768-51.08-128.534-51.08c-65.027,0-122.306,33.146-155.884,83.458h66.336   v18.154L134.289,138.16L134.289,138.16z')
                                        path(style='fill:#00769D;', d='M36.548,223.837c0,71.704,40.302,133.986,99.483,165.458l-84.52-238.919   C41.883,172.932,36.548,197.761,36.548,223.837z')
                                        path(style='fill:#00769D;', d='M386.833,131.547c2.679,15.774,1.868,33.503-2.243,51.301h0.745l-2.832,8.092l0,0   c-1.678,5.843-3.791,11.82-6.191,17.693l-64.444,180.541c59.057-31.51,99.256-93.725,99.256-165.338   C411.124,190.279,402.29,158.788,386.833,131.547z')
                                        path(style='fill:#00769D;', d='M166.075,402.033c18.195,5.894,37.603,9.091,57.762,9.091c19.228,0,37.777-2.902,55.239-8.285   l-54.784-154.862L166.075,402.033z')
                                        path(style='fill:#00769D;', d='M382.113,65.56C339.836,23.283,283.625,0,223.836,0S107.837,23.283,65.56,65.56S0,164.047,0,223.837   c0,59.789,23.283,115.999,65.56,158.276s98.488,65.56,158.277,65.56s115.999-23.283,158.277-65.56   c42.277-42.277,65.56-98.488,65.56-158.276C447.673,164.047,424.39,107.837,382.113,65.56z M223.836,431.883   c-114.717,0-208.046-93.329-208.046-208.046S109.119,15.79,223.836,15.79s208.046,93.33,208.046,208.047   S338.554,431.883,223.836,431.883z')
                                | Wordpress
                            p
                                span
                                    svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 438.549 438.549', style='enable-background:new 0 0 438.549 438.549; width: 20px; margin-right: 20px;', xml:space='preserve')
                                        path(d='M409.132,114.573c-19.608-33.596-46.205-60.194-79.798-79.8C295.736,15.166,259.057,5.365,219.271,5.365   c-39.781,0-76.472,9.804-110.063,29.408c-33.596,19.605-60.192,46.204-79.8,79.8C9.803,148.168,0,184.854,0,224.63   c0,47.78,13.94,90.745,41.827,128.906c27.884,38.164,63.906,64.572,108.063,79.227c5.14,0.954,8.945,0.283,11.419-1.996   c2.475-2.282,3.711-5.14,3.711-8.562c0-0.571-0.049-5.708-0.144-15.417c-0.098-9.709-0.144-18.179-0.144-25.406l-6.567,1.136   c-4.187,0.767-9.469,1.092-15.846,1c-6.374-0.089-12.991-0.757-19.842-1.999c-6.854-1.231-13.229-4.086-19.13-8.559   c-5.898-4.473-10.085-10.328-12.56-17.556l-2.855-6.57c-1.903-4.374-4.899-9.233-8.992-14.559   c-4.093-5.331-8.232-8.945-12.419-10.848l-1.999-1.431c-1.332-0.951-2.568-2.098-3.711-3.429c-1.142-1.331-1.997-2.663-2.568-3.997   c-0.572-1.335-0.098-2.43,1.427-3.289c1.525-0.859,4.281-1.276,8.28-1.276l5.708,0.853c3.807,0.763,8.516,3.042,14.133,6.851   c5.614,3.806,10.229,8.754,13.846,14.842c4.38,7.806,9.657,13.754,15.846,17.847c6.184,4.093,12.419,6.136,18.699,6.136   c6.28,0,11.704-0.476,16.274-1.423c4.565-0.952,8.848-2.383,12.847-4.285c1.713-12.758,6.377-22.559,13.988-29.41   c-10.848-1.14-20.601-2.857-29.264-5.14c-8.658-2.286-17.605-5.996-26.835-11.14c-9.235-5.137-16.896-11.516-22.985-19.126   c-6.09-7.614-11.088-17.61-14.987-29.979c-3.901-12.374-5.852-26.648-5.852-42.826c0-23.035,7.52-42.637,22.557-58.817   c-7.044-17.318-6.379-36.732,1.997-58.24c5.52-1.715,13.706-0.428,24.554,3.853c10.85,4.283,18.794,7.952,23.84,10.994   c5.046,3.041,9.089,5.618,12.135,7.708c17.705-4.947,35.976-7.421,54.818-7.421s37.117,2.474,54.823,7.421l10.849-6.849   c7.419-4.57,16.18-8.758,26.262-12.565c10.088-3.805,17.802-4.853,23.134-3.138c8.562,21.509,9.325,40.922,2.279,58.24   c15.036,16.18,22.559,35.787,22.559,58.817c0,16.178-1.958,30.497-5.853,42.966c-3.9,12.471-8.941,22.457-15.125,29.979   c-6.191,7.521-13.901,13.85-23.131,18.986c-9.232,5.14-18.182,8.85-26.84,11.136c-8.662,2.286-18.415,4.004-29.263,5.146   c9.894,8.562,14.842,22.077,14.842,40.539v60.237c0,3.422,1.19,6.279,3.572,8.562c2.379,2.279,6.136,2.95,11.276,1.995   c44.163-14.653,80.185-41.062,108.068-79.226c27.88-38.161,41.825-81.126,41.825-128.906   C438.536,184.851,428.728,148.168,409.132,114.573z')
                                | Github
                        .col-sm-6
                            h5(style="color: #757575; font-size: 1.5em; padding-bottom: 20px") additional skills
                            p - Operating systems: Windows, Unix, Linux
                            p - Database systems: SQL Server, MySQL
                            p - Agile Development
                            p - Adobe Photoshop
                .col-sm-12.aboutMe#portfolioLink(style="margin-top: 20px;")
                    h3 PORTFOLIO
                    .row
                        .col-sm-12.col-md-6(style="padding-right: 0;")
                            .grid
                                figure.effect-zoe
                                    img(src='/images/fundRaise.png', alt='img25')
                                    figcaption
                                      h2(style="padding-top: 3px;")
                                        | Fund
                                        span Raise
                                      p.icon-links
                                        a(href='#' style="margin-right:20px;")
                                            svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 511.626 511.627', style='enable-background:new 0 0 511.626 511.627; width: 20px;', xml:space='preserve')
                                                 path(fill="white" d='M392.857,292.354h-18.274c-2.669,0-4.859,0.855-6.563,2.573c-1.718,1.708-2.573,3.897-2.573,6.563v91.361    c0,12.563-4.47,23.315-13.415,32.262c-8.945,8.945-19.701,13.414-32.264,13.414H82.224c-12.562,0-23.317-4.469-32.264-13.414    c-8.945-8.946-13.417-19.698-13.417-32.262V155.31c0-12.562,4.471-23.313,13.417-32.259c8.947-8.947,19.702-13.418,32.264-13.418    h200.994c2.669,0,4.859-0.859,6.57-2.57c1.711-1.713,2.566-3.9,2.566-6.567V82.221c0-2.662-0.855-4.853-2.566-6.563    c-1.711-1.713-3.901-2.568-6.57-2.568H82.224c-22.648,0-42.016,8.042-58.102,24.125C8.042,113.297,0,132.665,0,155.313v237.542    c0,22.647,8.042,42.018,24.123,58.095c16.086,16.084,35.454,24.13,58.102,24.13h237.543c22.647,0,42.017-8.046,58.101-24.13    c16.085-16.077,24.127-35.447,24.127-58.095v-91.358c0-2.669-0.856-4.859-2.574-6.57    C397.709,293.209,395.519,292.354,392.857,292.354z')
                                                 path(fill="white" d='M506.199,41.971c-3.617-3.617-7.905-5.424-12.85-5.424H347.171c-4.948,0-9.233,1.807-12.847,5.424    c-3.617,3.615-5.428,7.898-5.428,12.847s1.811,9.233,5.428,12.85l50.247,50.248L198.424,304.067    c-1.906,1.903-2.856,4.093-2.856,6.563c0,2.479,0.953,4.668,2.856,6.571l32.548,32.544c1.903,1.903,4.093,2.852,6.567,2.852    s4.665-0.948,6.567-2.852l186.148-186.148l50.251,50.248c3.614,3.617,7.898,5.426,12.847,5.426s9.233-1.809,12.851-5.426    c3.617-3.616,5.424-7.898,5.424-12.847V54.818C511.626,49.866,509.813,45.586,506.199,41.971z')

                                        a(href='#' style="margin-right:20px;")
                                            svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 456.795 456.795', style='enable-background:new 0 0 456.795 456.795; width: 25px;', xml:space='preserve')
                                                path(fill="white" d='M448.947,218.475c-0.922-1.168-23.055-28.933-61-56.81c-50.705-37.253-105.877-56.944-159.551-56.944    c-53.672,0-108.844,19.691-159.551,56.944c-37.944,27.876-60.077,55.642-61,56.81L0,228.397l7.846,9.923    c0.923,1.168,23.056,28.934,61,56.811c50.707,37.252,105.879,56.943,159.551,56.943c53.673,0,108.845-19.691,159.55-56.943    c37.945-27.877,60.078-55.643,61-56.811l7.848-9.923L448.947,218.475z M228.396,315.039c-47.774,0-86.642-38.867-86.642-86.642    c0-7.485,0.954-14.751,2.747-21.684l-19.781-3.329c-1.938,8.025-2.966,16.401-2.966,25.013c0,30.86,13.182,58.696,34.204,78.187    c-27.061-9.996-50.072-24.023-67.439-36.709c-21.516-15.715-37.641-31.609-46.834-41.478c9.197-9.872,25.32-25.764,46.834-41.478    c17.367-12.686,40.379-26.713,67.439-36.71l13.27,14.958c15.498-14.512,36.312-23.412,59.168-23.412    c47.774,0,86.641,38.867,86.641,86.642C315.037,276.172,276.17,315.039,228.396,315.039z M368.273,269.875    c-17.369,12.686-40.379,26.713-67.439,36.709c21.021-19.49,34.203-47.326,34.203-78.188s-13.182-58.697-34.203-78.188    c27.061,9.997,50.07,24.024,67.439,36.71c21.516,15.715,37.641,31.609,46.834,41.477    C405.91,238.269,389.787,254.162,368.273,269.875z')
                                                path(fill="white" d='M173.261,211.555c-1.626,5.329-2.507,10.982-2.507,16.843c0,31.834,25.807,57.642,57.642,57.642    c31.834,0,57.641-25.807,57.641-57.642s-25.807-57.642-57.641-57.642c-15.506,0-29.571,6.134-39.932,16.094l28.432,32.048    L173.261,211.555z')
                            .grid
                                figure.effect-zoe
                                    img(src='/images/bitsoko.jpg', alt='img25')
                                    figcaption
                                      h2(style="padding-top: 3px;")
                                        | Bit
                                        span Soko
                                      p.icon-links
                                        a(href='#' style="margin-right:20px;")
                                            svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 511.626 511.627', style='enable-background:new 0 0 511.626 511.627; width: 20px;', xml:space='preserve')
                                                 path(fill="white" d='M392.857,292.354h-18.274c-2.669,0-4.859,0.855-6.563,2.573c-1.718,1.708-2.573,3.897-2.573,6.563v91.361    c0,12.563-4.47,23.315-13.415,32.262c-8.945,8.945-19.701,13.414-32.264,13.414H82.224c-12.562,0-23.317-4.469-32.264-13.414    c-8.945-8.946-13.417-19.698-13.417-32.262V155.31c0-12.562,4.471-23.313,13.417-32.259c8.947-8.947,19.702-13.418,32.264-13.418    h200.994c2.669,0,4.859-0.859,6.57-2.57c1.711-1.713,2.566-3.9,2.566-6.567V82.221c0-2.662-0.855-4.853-2.566-6.563    c-1.711-1.713-3.901-2.568-6.57-2.568H82.224c-22.648,0-42.016,8.042-58.102,24.125C8.042,113.297,0,132.665,0,155.313v237.542    c0,22.647,8.042,42.018,24.123,58.095c16.086,16.084,35.454,24.13,58.102,24.13h237.543c22.647,0,42.017-8.046,58.101-24.13    c16.085-16.077,24.127-35.447,24.127-58.095v-91.358c0-2.669-0.856-4.859-2.574-6.57    C397.709,293.209,395.519,292.354,392.857,292.354z')
                                                 path(fill="white" d='M506.199,41.971c-3.617-3.617-7.905-5.424-12.85-5.424H347.171c-4.948,0-9.233,1.807-12.847,5.424    c-3.617,3.615-5.428,7.898-5.428,12.847s1.811,9.233,5.428,12.85l50.247,50.248L198.424,304.067    c-1.906,1.903-2.856,4.093-2.856,6.563c0,2.479,0.953,4.668,2.856,6.571l32.548,32.544c1.903,1.903,4.093,2.852,6.567,2.852    s4.665-0.948,6.567-2.852l186.148-186.148l50.251,50.248c3.614,3.617,7.898,5.426,12.847,5.426s9.233-1.809,12.851-5.426    c3.617-3.616,5.424-7.898,5.424-12.847V54.818C511.626,49.866,509.813,45.586,506.199,41.971z')
                                        a(href='#' style="margin-right:20px;")
                                             svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 456.795 456.795', style='enable-background:new 0 0 456.795 456.795; width: 25px;', xml:space='preserve')
                                                 path(fill="white" d='M448.947,218.475c-0.922-1.168-23.055-28.933-61-56.81c-50.705-37.253-105.877-56.944-159.551-56.944    c-53.672,0-108.844,19.691-159.551,56.944c-37.944,27.876-60.077,55.642-61,56.81L0,228.397l7.846,9.923    c0.923,1.168,23.056,28.934,61,56.811c50.707,37.252,105.879,56.943,159.551,56.943c53.673,0,108.845-19.691,159.55-56.943    c37.945-27.877,60.078-55.643,61-56.811l7.848-9.923L448.947,218.475z M228.396,315.039c-47.774,0-86.642-38.867-86.642-86.642    c0-7.485,0.954-14.751,2.747-21.684l-19.781-3.329c-1.938,8.025-2.966,16.401-2.966,25.013c0,30.86,13.182,58.696,34.204,78.187    c-27.061-9.996-50.072-24.023-67.439-36.709c-21.516-15.715-37.641-31.609-46.834-41.478c9.197-9.872,25.32-25.764,46.834-41.478    c17.367-12.686,40.379-26.713,67.439-36.71l13.27,14.958c15.498-14.512,36.312-23.412,59.168-23.412    c47.774,0,86.641,38.867,86.641,86.642C315.037,276.172,276.17,315.039,228.396,315.039z M368.273,269.875    c-17.369,12.686-40.379,26.713-67.439,36.709c21.021-19.49,34.203-47.326,34.203-78.188s-13.182-58.697-34.203-78.188    c27.061,9.997,50.07,24.024,67.439,36.71c21.516,15.715,37.641,31.609,46.834,41.477    C405.91,238.269,389.787,254.162,368.273,269.875z')
                                                 path(fill="white" d='M173.261,211.555c-1.626,5.329-2.507,10.982-2.507,16.843c0,31.834,25.807,57.642,57.642,57.642    c31.834,0,57.641-25.807,57.641-57.642s-25.807-57.642-57.641-57.642c-15.506,0-29.571,6.134-39.932,16.094l28.432,32.048    L173.261,211.555z')
                        .col-sm-12.col-md-6(style="padding-left: 0;")
                            .grid(style="height: 100%;")
                                figure.effect-zoe
                                    img(src='/images/bizYangu.png', alt='img25')
                                    figcaption
                                      h2(style="padding-top: 3px;")
                                        | Biz
                                        span Yangu
                                      p.icon-links
                                          a(href='#' style="margin-right:20px;")
                                              svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 511.626 511.627', style='enable-background:new 0 0 511.626 511.627; width: 20px;', xml:space='preserve')
                                                   path(fill="white" d='M392.857,292.354h-18.274c-2.669,0-4.859,0.855-6.563,2.573c-1.718,1.708-2.573,3.897-2.573,6.563v91.361    c0,12.563-4.47,23.315-13.415,32.262c-8.945,8.945-19.701,13.414-32.264,13.414H82.224c-12.562,0-23.317-4.469-32.264-13.414    c-8.945-8.946-13.417-19.698-13.417-32.262V155.31c0-12.562,4.471-23.313,13.417-32.259c8.947-8.947,19.702-13.418,32.264-13.418    h200.994c2.669,0,4.859-0.859,6.57-2.57c1.711-1.713,2.566-3.9,2.566-6.567V82.221c0-2.662-0.855-4.853-2.566-6.563    c-1.711-1.713-3.901-2.568-6.57-2.568H82.224c-22.648,0-42.016,8.042-58.102,24.125C8.042,113.297,0,132.665,0,155.313v237.542    c0,22.647,8.042,42.018,24.123,58.095c16.086,16.084,35.454,24.13,58.102,24.13h237.543c22.647,0,42.017-8.046,58.101-24.13    c16.085-16.077,24.127-35.447,24.127-58.095v-91.358c0-2.669-0.856-4.859-2.574-6.57    C397.709,293.209,395.519,292.354,392.857,292.354z')
                                                   path(fill="white" d='M506.199,41.971c-3.617-3.617-7.905-5.424-12.85-5.424H347.171c-4.948,0-9.233,1.807-12.847,5.424    c-3.617,3.615-5.428,7.898-5.428,12.847s1.811,9.233,5.428,12.85l50.247,50.248L198.424,304.067    c-1.906,1.903-2.856,4.093-2.856,6.563c0,2.479,0.953,4.668,2.856,6.571l32.548,32.544c1.903,1.903,4.093,2.852,6.567,2.852    s4.665-0.948,6.567-2.852l186.148-186.148l50.251,50.248c3.614,3.617,7.898,5.426,12.847,5.426s9.233-1.809,12.851-5.426    c3.617-3.616,5.424-7.898,5.424-12.847V54.818C511.626,49.866,509.813,45.586,506.199,41.971z')

                                          a(href='#' style="margin-right:20px;")
                                              svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 456.795 456.795', style='enable-background:new 0 0 456.795 456.795; width: 25px;', xml:space='preserve')
                                                  path(fill="white" d='M448.947,218.475c-0.922-1.168-23.055-28.933-61-56.81c-50.705-37.253-105.877-56.944-159.551-56.944    c-53.672,0-108.844,19.691-159.551,56.944c-37.944,27.876-60.077,55.642-61,56.81L0,228.397l7.846,9.923    c0.923,1.168,23.056,28.934,61,56.811c50.707,37.252,105.879,56.943,159.551,56.943c53.673,0,108.845-19.691,159.55-56.943    c37.945-27.877,60.078-55.643,61-56.811l7.848-9.923L448.947,218.475z M228.396,315.039c-47.774,0-86.642-38.867-86.642-86.642    c0-7.485,0.954-14.751,2.747-21.684l-19.781-3.329c-1.938,8.025-2.966,16.401-2.966,25.013c0,30.86,13.182,58.696,34.204,78.187    c-27.061-9.996-50.072-24.023-67.439-36.709c-21.516-15.715-37.641-31.609-46.834-41.478c9.197-9.872,25.32-25.764,46.834-41.478    c17.367-12.686,40.379-26.713,67.439-36.71l13.27,14.958c15.498-14.512,36.312-23.412,59.168-23.412    c47.774,0,86.641,38.867,86.641,86.642C315.037,276.172,276.17,315.039,228.396,315.039z M368.273,269.875    c-17.369,12.686-40.379,26.713-67.439,36.709c21.021-19.49,34.203-47.326,34.203-78.188s-13.182-58.697-34.203-78.188    c27.061,9.997,50.07,24.024,67.439,36.71c21.516,15.715,37.641,31.609,46.834,41.477    C405.91,238.269,389.787,254.162,368.273,269.875z')
                                                  path(fill="white" d='M173.261,211.555c-1.626,5.329-2.507,10.982-2.507,16.843c0,31.834,25.807,57.642,57.642,57.642    c31.834,0,57.641-25.807,57.641-57.642s-25.807-57.642-57.641-57.642c-15.506,0-29.571,6.134-39.932,16.094l28.432,32.048    L173.261,211.555z')
                    .row
                        .col-sm-12.col-md-6(style='padding-right: 0px;')
                            .grid(style="height: 70vh; background: #ffc4e2;")
                                figure.effect-zoe
                                    img(src='/images/evewoman.png', alt='img25' style="object-fit: contain; width: 60%; display: block; margin-left: auto; margin-right: auto;")
                                    figcaption
                                      h2(style="padding-top: 3px;")
                                        | eve
                                        span woman
                                      p.icon-links
                                          a(href='#' style="margin-right:20px;")
                                              svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 511.626 511.627', style='enable-background:new 0 0 511.626 511.627; width: 20px;', xml:space='preserve')
                                                   path(fill="white" d='M392.857,292.354h-18.274c-2.669,0-4.859,0.855-6.563,2.573c-1.718,1.708-2.573,3.897-2.573,6.563v91.361    c0,12.563-4.47,23.315-13.415,32.262c-8.945,8.945-19.701,13.414-32.264,13.414H82.224c-12.562,0-23.317-4.469-32.264-13.414    c-8.945-8.946-13.417-19.698-13.417-32.262V155.31c0-12.562,4.471-23.313,13.417-32.259c8.947-8.947,19.702-13.418,32.264-13.418    h200.994c2.669,0,4.859-0.859,6.57-2.57c1.711-1.713,2.566-3.9,2.566-6.567V82.221c0-2.662-0.855-4.853-2.566-6.563    c-1.711-1.713-3.901-2.568-6.57-2.568H82.224c-22.648,0-42.016,8.042-58.102,24.125C8.042,113.297,0,132.665,0,155.313v237.542    c0,22.647,8.042,42.018,24.123,58.095c16.086,16.084,35.454,24.13,58.102,24.13h237.543c22.647,0,42.017-8.046,58.101-24.13    c16.085-16.077,24.127-35.447,24.127-58.095v-91.358c0-2.669-0.856-4.859-2.574-6.57    C397.709,293.209,395.519,292.354,392.857,292.354z')
                                                   path(fill="white" d='M506.199,41.971c-3.617-3.617-7.905-5.424-12.85-5.424H347.171c-4.948,0-9.233,1.807-12.847,5.424    c-3.617,3.615-5.428,7.898-5.428,12.847s1.811,9.233,5.428,12.85l50.247,50.248L198.424,304.067    c-1.906,1.903-2.856,4.093-2.856,6.563c0,2.479,0.953,4.668,2.856,6.571l32.548,32.544c1.903,1.903,4.093,2.852,6.567,2.852    s4.665-0.948,6.567-2.852l186.148-186.148l50.251,50.248c3.614,3.617,7.898,5.426,12.847,5.426s9.233-1.809,12.851-5.426    c3.617-3.616,5.424-7.898,5.424-12.847V54.818C511.626,49.866,509.813,45.586,506.199,41.971z')

                                          a(href='#' style="margin-right:20px;")
                                              svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 456.795 456.795', style='enable-background:new 0 0 456.795 456.795; width: 25px;', xml:space='preserve')
                                                  path(fill="white" d='M448.947,218.475c-0.922-1.168-23.055-28.933-61-56.81c-50.705-37.253-105.877-56.944-159.551-56.944    c-53.672,0-108.844,19.691-159.551,56.944c-37.944,27.876-60.077,55.642-61,56.81L0,228.397l7.846,9.923    c0.923,1.168,23.056,28.934,61,56.811c50.707,37.252,105.879,56.943,159.551,56.943c53.673,0,108.845-19.691,159.55-56.943    c37.945-27.877,60.078-55.643,61-56.811l7.848-9.923L448.947,218.475z M228.396,315.039c-47.774,0-86.642-38.867-86.642-86.642    c0-7.485,0.954-14.751,2.747-21.684l-19.781-3.329c-1.938,8.025-2.966,16.401-2.966,25.013c0,30.86,13.182,58.696,34.204,78.187    c-27.061-9.996-50.072-24.023-67.439-36.709c-21.516-15.715-37.641-31.609-46.834-41.478c9.197-9.872,25.32-25.764,46.834-41.478    c17.367-12.686,40.379-26.713,67.439-36.71l13.27,14.958c15.498-14.512,36.312-23.412,59.168-23.412    c47.774,0,86.641,38.867,86.641,86.642C315.037,276.172,276.17,315.039,228.396,315.039z M368.273,269.875    c-17.369,12.686-40.379,26.713-67.439,36.709c21.021-19.49,34.203-47.326,34.203-78.188s-13.182-58.697-34.203-78.188    c27.061,9.997,50.07,24.024,67.439,36.71c21.516,15.715,37.641,31.609,46.834,41.477    C405.91,238.269,389.787,254.162,368.273,269.875z')
                                                  path(fill="white" d='M173.261,211.555c-1.626,5.329-2.507,10.982-2.507,16.843c0,31.834,25.807,57.642,57.642,57.642    c31.834,0,57.641-25.807,57.641-57.642s-25.807-57.642-57.641-57.642c-15.506,0-29.571,6.134-39.932,16.094l28.432,32.048    L173.261,211.555z')
                        .col-sm-12.col-md-6(style="padding-left: 0;")
                            .grid
                                figure.effect-zoe
                                    img(src='/images/fundRaise.png', alt='img25')
                                    figcaption
                                      h2(style="padding-top: 3px;")
                                        | Fund
                                        span Raise
                                      p.icon-links
                                        a(href='#' style="margin-right:20px;")
                                            svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 511.626 511.627', style='enable-background:new 0 0 511.626 511.627; width: 20px;', xml:space='preserve')
                                                 path(fill="white" d='M392.857,292.354h-18.274c-2.669,0-4.859,0.855-6.563,2.573c-1.718,1.708-2.573,3.897-2.573,6.563v91.361    c0,12.563-4.47,23.315-13.415,32.262c-8.945,8.945-19.701,13.414-32.264,13.414H82.224c-12.562,0-23.317-4.469-32.264-13.414    c-8.945-8.946-13.417-19.698-13.417-32.262V155.31c0-12.562,4.471-23.313,13.417-32.259c8.947-8.947,19.702-13.418,32.264-13.418    h200.994c2.669,0,4.859-0.859,6.57-2.57c1.711-1.713,2.566-3.9,2.566-6.567V82.221c0-2.662-0.855-4.853-2.566-6.563    c-1.711-1.713-3.901-2.568-6.57-2.568H82.224c-22.648,0-42.016,8.042-58.102,24.125C8.042,113.297,0,132.665,0,155.313v237.542    c0,22.647,8.042,42.018,24.123,58.095c16.086,16.084,35.454,24.13,58.102,24.13h237.543c22.647,0,42.017-8.046,58.101-24.13    c16.085-16.077,24.127-35.447,24.127-58.095v-91.358c0-2.669-0.856-4.859-2.574-6.57    C397.709,293.209,395.519,292.354,392.857,292.354z')
                                                 path(fill="white" d='M506.199,41.971c-3.617-3.617-7.905-5.424-12.85-5.424H347.171c-4.948,0-9.233,1.807-12.847,5.424    c-3.617,3.615-5.428,7.898-5.428,12.847s1.811,9.233,5.428,12.85l50.247,50.248L198.424,304.067    c-1.906,1.903-2.856,4.093-2.856,6.563c0,2.479,0.953,4.668,2.856,6.571l32.548,32.544c1.903,1.903,4.093,2.852,6.567,2.852    s4.665-0.948,6.567-2.852l186.148-186.148l50.251,50.248c3.614,3.617,7.898,5.426,12.847,5.426s9.233-1.809,12.851-5.426    c3.617-3.616,5.424-7.898,5.424-12.847V54.818C511.626,49.866,509.813,45.586,506.199,41.971z')

                                        a(href='#' style="margin-right:20px;")
                                            svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 456.795 456.795', style='enable-background:new 0 0 456.795 456.795; width: 25px;', xml:space='preserve')
                                                path(fill="white" d='M448.947,218.475c-0.922-1.168-23.055-28.933-61-56.81c-50.705-37.253-105.877-56.944-159.551-56.944    c-53.672,0-108.844,19.691-159.551,56.944c-37.944,27.876-60.077,55.642-61,56.81L0,228.397l7.846,9.923    c0.923,1.168,23.056,28.934,61,56.811c50.707,37.252,105.879,56.943,159.551,56.943c53.673,0,108.845-19.691,159.55-56.943    c37.945-27.877,60.078-55.643,61-56.811l7.848-9.923L448.947,218.475z M228.396,315.039c-47.774,0-86.642-38.867-86.642-86.642    c0-7.485,0.954-14.751,2.747-21.684l-19.781-3.329c-1.938,8.025-2.966,16.401-2.966,25.013c0,30.86,13.182,58.696,34.204,78.187    c-27.061-9.996-50.072-24.023-67.439-36.709c-21.516-15.715-37.641-31.609-46.834-41.478c9.197-9.872,25.32-25.764,46.834-41.478    c17.367-12.686,40.379-26.713,67.439-36.71l13.27,14.958c15.498-14.512,36.312-23.412,59.168-23.412    c47.774,0,86.641,38.867,86.641,86.642C315.037,276.172,276.17,315.039,228.396,315.039z M368.273,269.875    c-17.369,12.686-40.379,26.713-67.439,36.709c21.021-19.49,34.203-47.326,34.203-78.188s-13.182-58.697-34.203-78.188    c27.061,9.997,50.07,24.024,67.439,36.71c21.516,15.715,37.641,31.609,46.834,41.477    C405.91,238.269,389.787,254.162,368.273,269.875z')
                                                path(fill="white" d='M173.261,211.555c-1.626,5.329-2.507,10.982-2.507,16.843c0,31.834,25.807,57.642,57.642,57.642    c31.834,0,57.641-25.807,57.641-57.642s-25.807-57.642-57.641-57.642c-15.506,0-29.571,6.134-39.932,16.094l28.432,32.048    L173.261,211.555z')
                            .grid
                                figure.effect-zoe(style="background: #000fc3;")
                                    img(src='/images/kenindus.png', alt='img25')
                                    figcaption
                                      h2(style="padding-top: 3px;")
                                        | Kenindus
                                      p.icon-links
                                          a(href='#' style="margin-right:20px;")
                                              svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 511.626 511.627', style='enable-background:new 0 0 511.626 511.627; width: 20px;', xml:space='preserve')
                                                   path(fill="white" d='M392.857,292.354h-18.274c-2.669,0-4.859,0.855-6.563,2.573c-1.718,1.708-2.573,3.897-2.573,6.563v91.361    c0,12.563-4.47,23.315-13.415,32.262c-8.945,8.945-19.701,13.414-32.264,13.414H82.224c-12.562,0-23.317-4.469-32.264-13.414    c-8.945-8.946-13.417-19.698-13.417-32.262V155.31c0-12.562,4.471-23.313,13.417-32.259c8.947-8.947,19.702-13.418,32.264-13.418    h200.994c2.669,0,4.859-0.859,6.57-2.57c1.711-1.713,2.566-3.9,2.566-6.567V82.221c0-2.662-0.855-4.853-2.566-6.563    c-1.711-1.713-3.901-2.568-6.57-2.568H82.224c-22.648,0-42.016,8.042-58.102,24.125C8.042,113.297,0,132.665,0,155.313v237.542    c0,22.647,8.042,42.018,24.123,58.095c16.086,16.084,35.454,24.13,58.102,24.13h237.543c22.647,0,42.017-8.046,58.101-24.13    c16.085-16.077,24.127-35.447,24.127-58.095v-91.358c0-2.669-0.856-4.859-2.574-6.57    C397.709,293.209,395.519,292.354,392.857,292.354z')
                                                   path(fill="white" d='M506.199,41.971c-3.617-3.617-7.905-5.424-12.85-5.424H347.171c-4.948,0-9.233,1.807-12.847,5.424    c-3.617,3.615-5.428,7.898-5.428,12.847s1.811,9.233,5.428,12.85l50.247,50.248L198.424,304.067    c-1.906,1.903-2.856,4.093-2.856,6.563c0,2.479,0.953,4.668,2.856,6.571l32.548,32.544c1.903,1.903,4.093,2.852,6.567,2.852    s4.665-0.948,6.567-2.852l186.148-186.148l50.251,50.248c3.614,3.617,7.898,5.426,12.847,5.426s9.233-1.809,12.851-5.426    c3.617-3.616,5.424-7.898,5.424-12.847V54.818C511.626,49.866,509.813,45.586,506.199,41.971z')

                                          a(href='#' style="margin-right:20px;")
                                              svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 456.795 456.795', style='enable-background:new 0 0 456.795 456.795; width: 25px;', xml:space='preserve')
                                                  path(fill="white" d='M448.947,218.475c-0.922-1.168-23.055-28.933-61-56.81c-50.705-37.253-105.877-56.944-159.551-56.944    c-53.672,0-108.844,19.691-159.551,56.944c-37.944,27.876-60.077,55.642-61,56.81L0,228.397l7.846,9.923    c0.923,1.168,23.056,28.934,61,56.811c50.707,37.252,105.879,56.943,159.551,56.943c53.673,0,108.845-19.691,159.55-56.943    c37.945-27.877,60.078-55.643,61-56.811l7.848-9.923L448.947,218.475z M228.396,315.039c-47.774,0-86.642-38.867-86.642-86.642    c0-7.485,0.954-14.751,2.747-21.684l-19.781-3.329c-1.938,8.025-2.966,16.401-2.966,25.013c0,30.86,13.182,58.696,34.204,78.187    c-27.061-9.996-50.072-24.023-67.439-36.709c-21.516-15.715-37.641-31.609-46.834-41.478c9.197-9.872,25.32-25.764,46.834-41.478    c17.367-12.686,40.379-26.713,67.439-36.71l13.27,14.958c15.498-14.512,36.312-23.412,59.168-23.412    c47.774,0,86.641,38.867,86.641,86.642C315.037,276.172,276.17,315.039,228.396,315.039z M368.273,269.875    c-17.369,12.686-40.379,26.713-67.439,36.709c21.021-19.49,34.203-47.326,34.203-78.188s-13.182-58.697-34.203-78.188    c27.061,9.997,50.07,24.024,67.439,36.71c21.516,15.715,37.641,31.609,46.834,41.477    C405.91,238.269,389.787,254.162,368.273,269.875z')
                                                  path(fill="white" d='M173.261,211.555c-1.626,5.329-2.507,10.982-2.507,16.843c0,31.834,25.807,57.642,57.642,57.642    c31.834,0,57.641-25.807,57.641-57.642s-25.807-57.642-57.641-57.642c-15.506,0-29.571,6.134-39.932,16.094l28.432,32.048    L173.261,211.555z')
                .col-sm-12.aboutMe#experienceLink(style="margin-top: 20px;")
                    h3 WORK EXPERIENCE
                    .row
                        .col-sm-3.experienceYears
                            .arrowBody
                                | 2017 - 2018
                                span.arrowHead
                        .col-sm-9.experienceDetails
                            .detailsContainer
                                h5 Bitsoko
                                p.companyposition Software Developer
                                p Bitsoko is a point of sale terminal that creates open-source mobile services for micro, small and medium enterprises.
                                h6 roles
                                ul
                                    li Analyzing user requirements
                                    li Writing and testing code, refining and rewriting it as necessary
                                    li Researching, designing and writing new software programs
                                    li Developing existing programs by analyzing and identifying areas for modification
                                    li Integrating existing software products and getting incompatible platforms to work together
                                    li Maintaining systems by monitoring and correcting software defects
                                    li Working closely with other staff, such as project managers, graphic artists, UX designers, other developers, systems analysts and sales and marketing professionals
                                    li Consulting clients and colleagues concerning the maintenance and performance of software systems with a view to writing or modifying current operating systems
                                    li Continually updating technical knowledge and skills by attending in-house and external courses, reading manuals and accessing new applications.
                                    li Document and demonstrate solutions by developing documentation, flowcharts, layouts, diagrams, charts, code comments and clear code
                    .row
                        .col-sm-3.experienceYears
                            .arrowBody
                                | 2016 - 2017
                                span.arrowHead
                        .col-sm-9.experienceDetails
                            .detailsContainer
                                h5 Kenya Industrial & Allied Safety Services
                                p.companyposition Frontend Engineer
                                p Kenya Industrial & Allied Safety Services is the leading company in elevator statutory inspection as well providing proactive IT strategy, systems design and ongoing support to streamline your business operations, increasing productivity and boosting profitability.
                                h6 roles
                                ul
                                    li Develop new user-facing features
                                    li Build reusable code and libraries for future use
                                    li Ensure the technical feasibility of UI/UX designs
                                    li Optimize application for maximum speed and scalability
                                    li Assure that all user input is validated before submitting to back-end
                                    li Collaborate with other team members and stakeholder
                    .row
                        .col-sm-3.experienceYears
                            .arrowBody
                                | 2016 - 2017
                                span.arrowHead
                        .col-sm-9.experienceDetails
                            .detailsContainer
                                h5 Moringa School
                                p.companyposition Resident Hacker
                                p Moringa School's mission is to transform higher education throughout Africa and enable its graduates to be globally competitive with their peers. Developing future knowledge workers through market-driven education.

                                h6 roles
                                ul
                                    li Curriculum development
                                    li I was a curriculum instructor mainly frontend developement
                                    li Conducting interviews to applicants
                                    li Reviewed code written by students

                    hr(style="padding: 30px 0px; margin-top:50px;")

                    h3 EDUCATION
                    .row
                        .col-sm-12
                            .row
                                .col-sm-3.experienceYears
                                    .arrowBody
                                        | 2015 - 2016
                                        span.arrowHead
                                .col-sm-9.experienceDetails
                                    .detailsContainer
                                        h5 Moringa School
                                        p Mobile & Web Development
                .col-sm-12.aboutMe(style="margin-top: 20px;")
                    h3 INTERESTS
                    .row
                        .col-sm-6.col-md-4(style="margin-bottom: 40px;")
                            svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 90 90', style='enable-background:new 0 0 90 90; width: 40px; margin-right: 20px;', xml:space='preserve')
                                path#Evernote(fill="#C0E3E7" d='M24.755,19.396l-14.588-0.017L28.444,0.99l0.005,14.831L24.755,19.396z M76.434,12.091   c-1.556-2.68-9.688-5.768-13.912-5.768c-4.217,0-10.879,0-10.879,0S48.15,0,39.937,0c-8.218,0-7.666,3.663-7.666,6.791v12.646   l-3.725,3.932h-17.2c0,0-4.846,3.205-4.846,10.133c0,6.929,2.15,31.07,16.585,33.305c17.08,2.646,20.005-5.293,20.005-6.246   c0-4.021,0.102-10.111,0.102-10.111s5.001,9.556,12.555,9.556c7.553,0,11.944,4.339,11.944,8.808c0,4.472,0,8.268,0,8.268   s-0.281,5.175-4.721,5.175c-4.445,0-9.479,0-9.479,0s-3.111-2.423-3.111-5.772c0-3.351,1.521-4.262,3.297-4.262   s3.233,0.206,3.233,0.206v-7.048c0,0-14.304-0.093-14.304,10.86C42.607,87.188,50.087,90,56.085,90c5.993,0,9.771,0,9.771,0   S83.5,87.73,83.5,52.875C83.5,18.016,77.988,14.773,76.434,12.091z M58.889,43.337c0,0,0.858-5.748,4.191-5.748   s7.911,7.677,7.911,7.677S60.549,43.337,58.889,43.337z')
                            | Animals

                        .col-sm-6.col-md-4(style="margin-bottom: 40px;")
                            svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 45.63 45.63', style='enable-background:new 0 0 45.63 45.63; width: 40px; margin-right: 20px;', xml:space='preserve')
                              path(fill="#C0E3E7" d='M42.295,43.851c-2.729-3.229-7.619-5.691-13.529-6.696c-0.578-3.461-1.61-5.078-1.637-5.123   c0.45-0.211,0.993-0.283,1.613-0.146c0.756,0.17,1.272,0.571,1.585,1.079c0.091,0.148,0.323,0.098,0.35-0.074   c0.039-0.252,0.027-0.527-0.059-0.832c-0.216-0.759-0.807-1.39-1.577-1.556c-0.503-0.107-1.003-0.024-1.425,0.2   c0.391-0.338,0.878-0.614,1.471-0.807c1.28-0.41,2.396-0.21,3.264,0.344c0.147,0.093,0.327-0.042,0.28-0.21   c-0.145-0.521-0.432-1.032-0.964-1.501c-0.896-0.788-2.143-1.13-3.276-0.755c-0.365,0.121-0.697,0.301-0.986,0.524   c0.021-0.027,0.044-0.055,0.065-0.081c0.835-0.981,1.838-1.405,2.827-1.429c0.215-0.005,0.311-0.284,0.146-0.423   c-0.351-0.292-0.783-0.522-1.344-0.642c-1.262-0.269-2.59,0.109-3.392,1.119c-0.288,0.361-0.488,0.768-0.604,1.188   c-0.34-0.275-0.738-0.488-1.184-0.614c-1.24-0.352-2.539,0.116-3.407,1.069c-0.375,0.411-0.592,0.84-0.707,1.269   c-0.06,0.221,0.194,0.4,0.385,0.274c0.813-0.544,1.864-0.776,3.101-0.47c0.034,0.01,0.067,0.019,0.101,0.027   c-0.365-0.014-0.739,0.034-1.108,0.149c-1.139,0.355-1.953,1.359-2.222,2.522c-0.154,0.67-0.098,1.239,0.076,1.735   c0.063,0.18,0.311,0.184,0.385,0.008c0.391-0.938,1.174-1.731,2.434-2.136c0.593-0.191,1.15-0.25,1.664-0.204   c-0.475,0.063-0.929,0.288-1.274,0.669c-0.53,0.584-0.641,1.439-0.374,2.183c0.107,0.3,0.261,0.532,0.441,0.715   c0.12,0.123,0.336,0.029,0.323-0.142c-0.045-0.597,0.142-1.217,0.657-1.797c0.397-0.445,0.849-0.731,1.307-0.795l0,0   c-0.001,0,0.725,1.783,0.826,4.356c-1.209-0.124-2.451-0.193-3.719-0.193c-3.105,0-6.058,0.387-8.73,1.088   c0.554-12.073,7.984-20.071,7.993-20.111v-0.001c0.915,0.605,1.688,1.532,2.188,2.833c0.651,1.69,0.539,3.221-0.05,4.485   c-0.169,0.362,0.227,0.745,0.591,0.576c0.544-0.252,1.069-0.633,1.551-1.198c1.193-1.401,1.656-3.363,0.979-5.073   c-0.442-1.116-1.251-1.979-2.232-2.51c1.16,0.322,2.329,0.909,3.468,1.812c2.418,1.921,3.475,4.301,3.558,6.666   c0.016,0.444,0.561,0.643,0.846,0.301c0.787-0.94,1.38-2.138,1.593-3.729c0.37-2.761-0.58-5.622-2.775-7.337   c-0.71-0.556-1.487-0.967-2.297-1.239c0.081,0.008,0.161,0.017,0.243,0.025c2.952,0.345,5.058,1.715,6.386,3.572   c0.31,0.433,1.013,0.248,1.063-0.281c0.103-1.032-0.021-2.146-0.501-3.354c-1.11-2.796-3.562-4.884-6.561-5.138   c-1.076-0.091-2.123,0.045-3.091,0.366c0.095-1.016-0.011-2.063-0.342-3.089c-0.923-2.864-3.51-4.781-6.484-5.234   c-1.319-0.2-2.458-0.056-3.46,0.296c-0.474,0.166-0.496,0.855-0.031,1.043c2.142,0.864,3.983,2.612,4.999,5.444   c0.028,0.077,0.054,0.154,0.079,0.23c-0.448-0.727-1.024-1.392-1.726-1.957c-2.167-1.751-5.169-2.03-7.774-1.047   c-1.548,0.584-2.596,1.468-3.339,2.484c-0.24,0.328,0.042,0.771,0.439,0.688c2.354-0.491,4.952-0.016,7.408,1.938   c1.138,0.904,1.975,1.909,2.551,2.968c-0.738-0.838-1.763-1.43-2.95-1.607c-1.819-0.273-3.626,0.62-4.721,2.101   c-0.439,0.592-0.689,1.185-0.813,1.768c-0.084,0.396,0.383,0.698,0.703,0.449c1.098-0.854,2.559-1.305,4.348-1.053   c1.469,0.207,2.596,0.81,3.404,1.641c-0.144,0.123-9.108,6.812-14.981,27.292c-0.358,0.34-0.691,0.694-0.997,1.056   C2.741,44.532,3.25,45.63,4.181,45.63h37.266C42.364,45.635,42.888,44.553,42.295,43.851z')
                            | Travel

                        .col-sm-6.col-md-4(style="margin-bottom: 40px;")
                            svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 491.737 491.737', style='enable-background:new 0 0 491.737 491.737; width: 40px; margin-right: 20px;', xml:space='preserve')
                              path(fill="#C0E3E7" d='M321.097,112.359c20.973,12.338,47.985,5.315,60.293-15.652c12.34-20.973,5.35-47.974-15.623-60.304   c-21.009-12.332-47.99-5.317-60.314,15.65C293.129,73.036,300.103,100.027,321.097,112.359z')
                              path(fill="#C0E3E7" d='M393.081,264.102c-2.414,0-4.8,0.194-7.169,0.362l-14.431-71.605l4.702-1.757c10.666-3.987,16.093-15.868,12.098-26.54   c-3.994-10.681-15.946-16.084-26.531-12.09l-51.823,19.38l-2.321-18.864c6.3-13.193,5.541-29.78-4.767-41.482   c-21.224-24.092-47.12-12.508-55.191-5.976l-106.884,86.555l0.016,0.024c-3.319,2.893-6.089,6.485-7.86,10.842   c-2.191,5.396-2.596,11.067-1.564,16.384c-8.503,0.669-15.255,7.571-15.255,16.246c0,9.085,7.346,16.44,16.432,16.48l-6.797,15.906   c-8.62-2.465-17.674-3.866-27.066-3.866C44.27,264.102,0,308.354,0,362.754c0,54.403,44.27,98.663,98.668,98.663   c54.403,0,98.652-44.26,98.652-98.663c0-36.228-19.683-67.867-48.858-85.024l10.957-25.652h17.767l60.281,24.462l-32.201,52.773   c-8.297,13.612-3.994,31.382,9.615,39.685c4.691,2.86,9.878,4.229,15,4.229c9.729,0,19.234-4.929,24.677-13.838l29.339-48.095   l19.072,11.511c-5.447,12.227-8.54,25.726-8.54,39.95c0,54.403,44.254,98.663,98.652,98.663c54.402,0,98.656-44.26,98.656-98.663   C491.737,308.354,447.483,264.102,393.081,264.102z M98.668,436.671c-40.756,0-73.923-33.161-73.923-73.917   c0-40.756,33.167-73.909,73.923-73.909c5.944,0,11.649,0.896,17.188,2.224l-20.476,47.893   c-11.758,1.619-20.843,11.598-20.843,23.792c0,13.323,10.808,24.132,24.13,24.132c8.767,0,16.367-4.745,20.589-11.76h52.065   C165.395,409.988,135.188,436.671,98.668,436.671z M171.322,350.383h-52.065c-0.355-0.588-0.708-1.176-1.112-1.732l20.476-47.901   C155.679,311.776,167.793,329.595,171.322,350.383z M296.781,290.175l7.666-12.564c4.416-7.233,5.431-16.038,2.774-24.084   c-2.661-8.046-8.718-14.515-16.562-17.704l-52.725-21.395l32.443-26.281l1.804,14.691c0.756,6.267,4.366,11.841,9.761,15.12   c3.271,1.981,6.979,2.988,10.698,2.988c2.435,0,4.88-0.435,7.218-1.306l48.15-18.001l13.627,67.691   c-18.268,6.162-34.117,17.51-45.848,32.314L296.781,290.175z M375.396,337.633l-38.003-22.94   c7.877-9.118,17.787-16.319,29.205-20.734L375.396,337.633z M393.081,436.671c-40.757,0-73.907-33.161-73.907-73.917   c0-9.544,1.965-18.597,5.268-26.983l44.541,26.888c0,0.032-0.016,0.064-0.016,0.095c0,13.323,10.808,24.132,24.114,24.132   c13.322,0,24.118-10.81,24.118-24.132c0-10.478-6.721-19.307-16.06-22.64l-10.277-51.043c0.756-0.024,1.463-0.226,2.22-0.226   c40.757,0,73.911,33.153,73.911,73.909C466.992,403.51,433.838,436.671,393.081,436.671z')
                            | Bicycle

                        .col-sm-6.col-md-4(style="margin-bottom: 40px;")
                            svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 557.506 557.506', style='enable-background:new 0 0 557.506 557.506; width: 40px; margin-right: 20px;', xml:space='preserve')
                                path(fill="#C0E3E7" d='M196.261,310.341v73.893c0,5.948,4.822,10.771,10.774,10.771c5.952,0,10.774-4.823,10.774-10.771v-67.14l-34.128-36.022    c-7.454-7.87-10.395-18.862-7.864-29.403l8.213-34.223h-9.599l7.2-10.921c1.518,0.694,3.115,1.242,4.792,1.582    c1.732-5.113,4.669-9.578,8.449-13.103c4.954-4.615,11.353-7.595,18.36-8.333c1.049-0.11,2.108-0.181,3.186-0.187v-35.254    c0-5.949-4.823-10.771-10.771-10.771c-5.948,0-10.771,4.826-10.771,10.771v12.999c-1.288-0.232-2.61-0.374-3.966-0.374    c-1.365,0-2.693,0.141-3.99,0.376v-30.673c0-5.949-4.822-10.771-10.774-10.771c-5.948,0-10.771,4.822-10.771,10.771v58.489    l-5.217,7.916l-5.217-7.916v-58.489c0-5.949-4.823-10.771-10.771-10.771c-5.948,0-10.771,4.822-10.771,10.771v30.673    c-1.297-0.232-2.625-0.376-3.99-0.376c-2.751,0-5.376,0.521-7.812,1.432v-50.089c0-5.949-4.823-10.771-10.774-10.771    s-10.771,4.823-10.771,10.771v58.489l-6.613,10.034v-50.163c0-5.949-4.823-10.771-10.771-10.771    c-5.948,0-10.771,4.822-10.771,10.771v13.369c-2.436-0.909-5.058-1.432-7.812-1.432c-12.344,0-22.351,10.006-22.351,22.35    c0,12.344,10.006,22.351,22.351,22.351c2.751,0,5.376-0.521,7.812-1.432v6.512c0,1.31,0.266,2.595,0.725,3.807h-8.537H44.852    l-16.741-25.398v-58.485c0-5.949-4.823-10.771-10.771-10.771S6.568,109.25,6.568,115.198v61.72c0,2.108,0.618,4.167,1.778,5.927    l29.051,44.076v47.09c-0.138,0.691-0.214,1.404-0.214,2.136v89.728c0,5.949,4.822,10.771,10.771,10.771    s10.774-4.822,10.774-10.771V291.98h5.355h5.355v73.893c0,5.949,4.823,10.771,10.774,10.771s10.774-4.822,10.774-10.771v-89.728    c0-0.731-0.076-1.444-0.214-2.136v-46.867l11.955,18.137v47.09c-0.138,0.691-0.214,1.404-0.214,2.136v89.729    c0,5.948,4.822,10.771,10.774,10.771c5.949,0,10.771-4.823,10.771-10.771v-73.893h5.355h5.355v73.893    c0,5.948,4.822,10.771,10.771,10.771s10.771-4.823,10.771-10.771v-89.729c0-0.731-0.077-1.444-0.214-2.136v-47.09l4.067-6.172    l4.066,6.172v47.09c-0.138,0.691-0.214,1.404-0.214,2.136v89.729c0,5.948,4.822,10.771,10.771,10.771s10.774-4.823,10.774-10.771    v-73.893h5.355H196.261L196.261,310.341z M129.4,217.445H110.17l-6.582-9.988l6.555-9.945c3.886,6.6,11.043,11.043,19.256,11.043    c3.314,0,6.445-0.741,9.275-2.032l7.2,10.921H129.4z')
                                path(fill="#C0E3E7" d='M240.977,197.839c1.107-1.771,2.295-3.485,3.595-5.107c1.212-1.512,2.482-2.971,3.847-4.342    c2.396-2.408,5.019-4.584,7.831-6.505c3.075-2.099,6.383-3.874,9.869-5.306v-17.274c0-5.948-4.823-10.771-10.771-10.771    c-2.653,0-5.052,0.998-6.928,2.585v-17.561c0-5.949-4.823-10.771-10.774-10.771s-10.771,4.822-10.771,10.771v54.633    c2.472,0.835,4.771,1.967,6.897,3.326C236.506,193.262,238.923,195.4,240.977,197.839z')
                                polygon(points='233.902,334.086 225.484,325.2 225.484,389.527 233.902,379.239   ')
                                path(fill="#C0E3E7" d='M537.135,112.499c-5.947,0-10.771,4.823-10.771,10.771v58.489l-16.74,25.398h-19.229h-8.537    c0.459-1.215,0.725-2.497,0.725-3.807v-6.512c2.436,0.909,5.059,1.432,7.809,1.432c12.344,0,22.35-10.006,22.35-22.35    c0-12.344-10.006-22.351-22.35-22.351c-2.75,0-5.377,0.521-7.809,1.432v-13.369c0-5.949-4.822-10.771-10.775-10.771    c-5.947,0-10.77,4.822-10.77,10.771v50.166l-6.617-10.034v-58.495c0-5.949-4.822-10.771-10.77-10.771    c-5.949,0-10.775,4.823-10.775,10.771v50.089c-2.436-0.909-5.059-1.432-7.812-1.432c-1.363,0-2.691,0.141-3.99,0.376V141.63    c0-5.949-4.822-10.771-10.771-10.771c-5.947,0-10.77,4.822-10.77,10.771v58.489l-5.219,7.916l-0.82-1.242v2.485v36.662v2.485    l0.82-1.242l4.066,6.172v47.09c-0.137,0.691-0.213,1.404-0.213,2.136v89.729c0,5.948,4.822,10.771,10.773,10.771    c5.949,0,10.771-4.823,10.771-10.771v-73.893h5.355h5.355v73.893c0,5.948,4.822,10.771,10.77,10.771    c5.949,0,10.775-4.823,10.775-10.771V302.58c0-0.731-0.076-1.444-0.215-2.136v-47.09l11.955-18.137v46.868    c-0.137,0.691-0.213,1.404-0.213,2.136v89.728c0,5.949,4.822,10.771,10.773,10.771s10.771-4.822,10.771-10.771v-73.893h5.355    h5.354v73.893c0,5.949,4.824,10.771,10.775,10.771s10.771-4.822,10.771-10.771v-89.728c0-0.731-0.076-1.444-0.215-2.136v-47.091    l29.051-44.076c1.16-1.76,1.779-3.819,1.779-5.927v-61.72C547.91,117.325,543.088,112.499,537.135,112.499z M444.301,225.52    h-19.229H408.6l7.201-10.921c2.826,1.294,5.961,2.032,9.275,2.032c8.213,0,15.373-4.443,19.256-11.043l6.555,9.945L444.301,225.52    z')
                                path(fill="#C0E3E7" d='M390.252,263.305c-0.602,1.236-1.254,2.448-2.02,3.608l-42.299,64.177v66.772c0.221,1.524,0.334,3.061,0.334,4.581v0.517    c0.389,0.043,0.771,0.12,1.172,0.12c5.949,0,10.771-4.823,10.771-10.771v-73.893h5.355h5.355v73.893    c0,5.948,4.822,10.771,10.773,10.771s10.771-4.823,10.771-10.771V302.58c0-0.731-0.076-1.444-0.215-2.136V263.305z')
                                path(fill="#C0E3E7" d='M327.596,141.63c0-5.949-4.822-10.771-10.771-10.771c-5.947,0-10.773,4.822-10.773,10.771v1.411    c-1.879-1.591-4.275-2.586-6.928-2.586c-5.949,0-10.771,4.826-10.771,10.771v21.432c6.227,0.223,12.186,1.497,17.699,3.678    c1.309,0.517,2.586,1.099,3.844,1.713c6.832,3.348,12.873,8.057,17.699,13.844V141.63H327.596z')
                                path(fill="#C0E3E7" d='M95.18,94.372c6.426-8.433,6.714-20.294,1.401-29.572c-5.747-10.034-30.863-29.146-16.992-40.264    c7.699-6.172-3.201-16.925-10.82-10.82c-9.033,7.24-9.893,18.354-6.75,28.88c4.189,14.024,31.708,28.617,19.951,44.052    C75.984,94.5,89.283,102.107,95.18,94.372z')
                                path(fill="#C0E3E7" d='M494.023,28.985c9.816-0.994,6.514-15.945-3.197-14.963c-11.52,1.166-18.281,10.024-21.365,20.569    c-4.109,14.048,11.055,41.258-7.203,47.818c-9.291,3.338-2.266,16.952,6.887,13.663c9.979-3.586,16.668-13.385,17.254-24.058    C487.027,60.47,476.336,30.776,494.023,28.985z')
                                path(fill="#C0E3E7" d='M194.348,92.688c1.643,10.563,9.275,19.651,19.56,22.225c9.437,2.362,15.074-11.882,5.499-14.281    c-18.822-4.715-6.438-33.296-11.921-46.867c-4.116-10.187-11.726-18.33-23.305-18.345c-9.761-0.012-11.563,15.193-1.695,15.205    C200.257,50.653,192.573,81.266,194.348,92.688z')
                                path(fill="#C0E3E7" d='M381.332,37.851c4.498-10.025,5.105-21.154-2.904-29.517c-6.75-7.053-18.969,2.179-12.145,9.306    c12.293,12.84-15.113,28.495-22.127,37.687c-6.484,8.5-7.754,20.297-2.488,29.501c4.83,8.442,19.01,2.647,14.111-5.924    C346.146,62.064,375.342,51.208,381.332,37.851z')
                                path(fill="#C0E3E7" d='M243.213,53.885c4.097,9.875,13.666,16.895,24.266,16.958c9.728,0.061,11.83-15.113,1.958-15.177    c-19.403-0.123-14.14-30.824-22.684-42.708c-6.414-8.923-15.735-15.031-26.986-12.301c-9.489,2.301-7.638,17.5,1.952,15.174    C239,11.645,238.782,43.206,243.213,53.885z')
                                path(fill="#C0E3E7" d='M135.128,95.73c13.813,0,13.813-21.42,0-21.42S121.315,95.73,135.128,95.73z')
                                path(fill="#C0E3E7" d='M32.618,65.13c13.812,0,13.812-21.42,0-21.42C18.805,43.71,18.805,65.13,32.618,65.13z')
                                path(fill="#C0E3E7" d='M320.258,16.17c-13.812,0-13.812,21.42,0,21.42S334.07,16.17,320.258,16.17z')
                                path(fill="#C0E3E7" d='M300.367,92.67c13.814,0,13.814-21.42,0-21.42C286.555,71.25,286.555,92.67,300.367,92.67z')
                                path(fill="#C0E3E7" d='M418.178,60.541c13.812,0,13.812-21.42,0-21.42S404.365,60.541,418.178,60.541z')
                                path(fill="#C0E3E7" d='M540.578,62.07c-13.812,0-13.812,21.42,0,21.42S554.391,62.07,540.578,62.07z')
                                path(fill="#C0E3E7" d='M336.666,317.348l38.791-58.853c1.791-2.714,2.742-5.894,2.742-9.143v-23.828v-2.791v-11.579v-33.739v-45.328    c0-0.407-0.031-0.808-0.061-1.208c-0.621-8.611-7.789-15.41-16.562-15.41c-9.18,0-16.617,7.442-16.617,16.619v17.191v32.629    v24.749v18.865v18.844l-8.08,12.255l-17.746,26.931H279.07h-3.666h-22.506l-27.775-29.321l5.508-22.947l2.161-9    c0.006-0.031,0.009-0.064,0.018-0.095c0.101-0.438,0.181-0.875,0.245-1.31c0.021-0.217,0.058-0.428,0.083-0.646    c0.214-1.906,0.089-3.788-0.331-5.584c-0.397-1.705-1.049-3.332-1.943-4.816c-2.219-3.681-5.848-6.508-10.355-7.592    c-0.107-0.024-0.211-0.034-0.318-0.058c-1.203-0.266-2.402-0.41-3.586-0.41c-0.064,0-0.125,0.016-0.189,0.016    c-7.427,0.085-14.134,5.18-15.946,12.729l-0.701,2.922l-1.083,4.516l-7.986,33.278c-1.313,5.468,0.229,11.23,4.094,15.312    l23.014,24.297l7.895,8.335l23.5,24.811v0.021v56.689l-2.172,2.653l-18.238,22.289l-34.798,42.537    c-5.566,6.809-4.872,16.771,1.591,22.741l42.344,39.089c3.195,2.95,7.237,4.406,11.267,4.406c4.477,0,8.941-1.799,12.215-5.346    c6.227-6.747,5.805-17.258-0.939-23.488l-30.839-28.468l28.015-34.234h40.079v114.009c0,9.177,7.443,16.619,16.619,16.619    c9.178,0,16.619-7.442,16.619-16.619v-138.44c0-1.129-0.119-2.233-0.334-3.299v-72.641L336.666,317.348z')
                                path(fill="#C0E3E7" d='M249.171,235.116c2.543,10.643,9.489,19.569,18.844,24.701c3.403,1.866,7.124,3.222,11.056,3.984    c2.381,0.462,4.832,0.722,7.344,0.722c15.055,0,28.045-8.703,34.314-21.331c1.463-2.947,2.59-6.089,3.256-9.407    c0.494-2.454,0.76-4.994,0.76-7.595c0-2.996-0.379-5.896-1.029-8.693c-2.02-8.7-6.99-16.249-13.818-21.555    c-1.225-0.952-2.51-1.824-3.844-2.623c-2.322-1.389-4.795-2.549-7.402-3.427c-3.258-1.099-6.713-1.753-10.296-1.934    c-0.646-0.034-1.285-0.098-1.94-0.098c-5.568,0-10.847,1.215-15.621,3.351c-1.625,0.725-3.179,1.57-4.676,2.506    c-9.706,6.08-16.505,16.355-17.8,28.308c-0.024,0.217-0.027,0.434-0.058,0.651c-0.095,1.031-0.147,2.075-0.159,3.127    c0,0.128-0.019,0.254-0.019,0.386c0,1.239,0.071,2.46,0.187,3.669C248.44,231.655,248.761,233.403,249.171,235.116z')
                            | Parties

                        .col-sm-6.col-md-4(style="margin-bottom: 40px;")
                            svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 941.214 941.214', style='enable-background:new 0 0 941.214 941.214; width: 40px; margin-right: 20px;', xml:space='preserve')
                              path(fill="#C0E3E7" d='M119.575,293.47l217.8,28c7.601,19.3,45.9,114.3,53.101,131.3c0,0,0,0-0.101,0c-63.1,31.2-126.2,62.3-189.3,93.5    c21.9-4,44.1-6,66.4-6c29.2,0,57.8,3.5,85.1,10.4c55.1,14,104.9,36.399,153,58.1c42.9,19.3,83.5,37.601,124,48.101    c5.7,1.5,11.2,2.8,16.7,3.899c-48-98.3-177.1-363.2-202.6-421.5c-12-27.5-28.5-37.7-51.899-40.7l-255.8-32.9    c-35.3-4.5-67.6,20.4-72.2,55.7C59.375,256.67,84.275,288.97,119.575,293.47z')
                              path(fill="#C0E3E7" d='M16.675,752.87c7.1,5.1,15.2,7.5,23.3,7.5c1.8,0,3.5-0.101,5.2-0.4c10.6-1.4,20.6-7,27.3-16.3    c25.9-36.101,66-64.5,112.7-80.101c26.8-8.899,54.8-13.399,82.3-13.399c99.7,0,185.2,59.6,275.199,93.899    c48.2,18.4,98.5,32,153.2,32c23,0,46.8-2.399,71.5-7.899c58.101-12.8,107.9-40.4,143.9-79.101c8.6-9.3,16.399-19.1,23.3-29.6    c12.2-18.4,7.1-43.2-11.3-55.4c-6.8-4.5-14.4-6.6-22-6.6c-13,0-25.7,6.3-33.4,17.9c-3.1,4.699-6.5,9.199-10.2,13.6    c-25,29.8-62.5,51.2-107.5,61.1c-41.5,9.101-87.3,6.4-128.199-4.199c-43-11.2-84.601-29.9-128.801-49.801    c-47-21.1-95.5-43-148.099-56.399c-25-6.4-51.2-9.5-77.7-9.5c-36.1,0-72.8,5.899-107.7,17.5c-30.5,10.2-58.8,24.399-84.2,42.3    c-26.8,18.9-49.7,41.4-68.1,67c-1.2,1.7-2.2,3.4-3.1,5.2C-4.425,719.47,0.375,741.17,16.675,752.87z')
                              circle(fill="#C0E3E7" cx='740.874', cy='426.169', r='141.1')
                            | Swimming

                        .col-sm-6.col-md-4(style="margin-bottom: 40px;")
                            svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 21.664 21.665', style='enable-background:new 0 0 21.664 21.665; width: 40px; margin-right: 20px;', xml:space='preserve')
                              path(fill="#C0E3E7" d='M2.756,20.725h2.95c0.041,0.257,0.254,0.458,0.523,0.458h6.707c0.27,0,0.482-0.2,0.523-0.458h2.95    c0.499,0,0.903-0.404,0.903-0.903H1.854C1.854,20.321,2.258,20.725,2.756,20.725z')
                              path(fill="#C0E3E7" d='M20.865,11.444c-0.752-0.609-1.811-0.619-2.508-0.542c0.02-0.486,0.031-0.983,0.031-1.5H0c0,4.97,0.752,8.556,5.511,9.894    h7.366c1.885-0.529,3.135-1.418,3.964-2.6c1.806-0.035,4.711-0.746,4.82-3.24C21.708,12.364,21.254,11.758,20.865,11.444z     M17.598,15.27c0.346-0.889,0.551-1.889,0.664-2.988c0.488-0.08,1.329-0.131,1.754,0.215c0.078,0.064,0.321,0.262,0.293,0.901    C20.252,14.69,18.648,15.124,17.598,15.27z')
                              path(fill="#C0E3E7" d='M7.491,8.704c0,0,3.5-0.257,1.896-3.208c-1.288-2.369-0.994-3.759,0.654-5.015c0,0-5.398,1.375-2.25,5.63    C8.946,7.965,7.491,8.704,7.491,8.704z')
                              path(fill="#C0E3E7" d='M9.85,8.468c0,0,2.804-0.591,1.278-2.846c-0.554-0.978,0.21-1.327,0.21-1.327s-1.805,0.057-1.043,1.608    C10.905,7.15,10.724,7.858,9.85,8.468z')
                            |Coffee
                .col-sm-12.aboutMe#contactLink(style="margin-top: 20px;")
                    h3 CONTACT ME
                    .row
                        .col-sm-12(style="padding-bottom: 25px;")
                            a(href="#")
                                svg#Layer_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 382 382', style='enable-background:new 0 0 382 382; width: 30px; margin-right: 20px;', xml:space='preserve')
                                    path(style='fill:#0077B7;', d='M347.445,0H34.555C15.471,0,0,15.471,0,34.555v312.889C0,366.529,15.471,382,34.555,382h312.889  C366.529,382,382,366.529,382,347.444V34.555C382,15.471,366.529,0,347.445,0z M118.207,329.844c0,5.554-4.502,10.056-10.056,10.056  H65.345c-5.554,0-10.056-4.502-10.056-10.056V150.403c0-5.554,4.502-10.056,10.056-10.056h42.806  c5.554,0,10.056,4.502,10.056,10.056V329.844z M86.748,123.432c-22.459,0-40.666-18.207-40.666-40.666S64.289,42.1,86.748,42.1  s40.666,18.207,40.666,40.666S109.208,123.432,86.748,123.432z M341.91,330.654c0,5.106-4.14,9.246-9.246,9.246H286.73  c-5.106,0-9.246-4.14-9.246-9.246v-84.168c0-12.556,3.683-55.021-32.813-55.021c-28.309,0-34.051,29.066-35.204,42.11v97.079  c0,5.106-4.139,9.246-9.246,9.246h-44.426c-5.106,0-9.246-4.14-9.246-9.246V149.593c0-5.106,4.14-9.246,9.246-9.246h44.426  c5.106,0,9.246,4.14,9.246,9.246v15.655c10.497-15.753,26.097-27.912,59.312-27.912c73.552,0,73.131,68.716,73.131,106.472  L341.91,330.654L341.91,330.654z')

                            a(href="#")
                                svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 455.731 455.731', style='enable-background:new 0 0 455.731 455.731; width: 30px; margin-right: 20px; border-radius: 3px;', xml:space='preserve')
                                  rect(x='0', y='0', style='fill:#50ABF1;', width='455.731', height='455.731')
                                  path(style='fill:#FFFFFF;', d='M60.377,337.822c30.33,19.236,66.308,30.368,104.875,30.368c108.349,0,196.18-87.841,196.18-196.18   c0-2.705-0.057-5.39-0.161-8.067c3.919-3.084,28.157-22.511,34.098-35c0,0-19.683,8.18-38.947,10.107   c-0.038,0-0.085,0.009-0.123,0.009c0,0,0.038-0.019,0.104-0.066c1.775-1.186,26.591-18.079,29.951-38.207   c0,0-13.922,7.431-33.415,13.932c-3.227,1.072-6.605,2.126-10.088,3.103c-12.565-13.41-30.425-21.78-50.25-21.78   c-38.027,0-68.841,30.805-68.841,68.803c0,5.362,0.617,10.581,1.784,15.592c-5.314-0.218-86.237-4.755-141.289-71.423   c0,0-32.902,44.917,19.607,91.105c0,0-15.962-0.636-29.733-8.864c0,0-5.058,54.416,54.407,68.329c0,0-11.701,4.432-30.368,1.272   c0,0,10.439,43.968,63.271,48.077c0,0-41.777,37.74-101.081,28.885L60.377,337.822z')
                        .col-sm-12
                            h5(style="font-weight: bold;") Feel free to contact me in case of any question
                        .col-sm-12
                            form
                              .form-row
                                .form-group.col-sm-12
                                  label(for='name') Name / Company
                                  input#name.form-control(type='name', placeholder='Name / Company')
                                .form-group.col-sm-12
                                  label(for='email') Email
                                  input#email.form-control(type='email', placeholder='Email')
                                .form-group.col-sm-12
                                  label(for='email') Subject
                                  input#email.form-control(type='name', placeholder='Subject')
                                .form-group.col-sm-12
                                    label(for='message') Message
                                    textarea#message.form-control(rows='3')
                            button.btn(style="font-weight: bold;") SEND
            p(style="text-align: center; padding: 1px 0px; margin-bottom: 10px;") Gaseema Resume @ All Rights Reserved 2019



        .col-sm-12.col-md-1.navSection
            .row.sticky-top(style="margin: 10px 5px; top: 20px;")
                .col.sm-12.navLinks
                    div
                        a(href='#infoAboutMe')
                            img(src='/images/me.jpg', style='width: 45px; border-radius: 50%;')
                    div
                        a(href='#portfolioLink')
                            svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 430.23 430.23', style='enable-background:new 0 0 430.23 430.23; width: 30px;', xml:space='preserve')
                                path(d='M217.875,159.668c-24.237,0-43.886,19.648-43.886,43.886c0,24.237,19.648,43.886,43.886,43.886     c24.237,0,43.886-19.648,43.886-43.886C261.761,179.316,242.113,159.668,217.875,159.668z M217.875,226.541     c-12.696,0-22.988-10.292-22.988-22.988c0-12.696,10.292-22.988,22.988-22.988h0c12.696,0,22.988,10.292,22.988,22.988     C240.863,216.249,230.571,226.541,217.875,226.541z')
                                path(d='M392.896,59.357L107.639,26.966c-11.071-1.574-22.288,1.658-30.824,8.882c-8.535,6.618-14.006,16.428-15.151,27.167     l-5.224,42.841H40.243c-22.988,0-40.229,20.375-40.229,43.363V362.9c-0.579,21.921,16.722,40.162,38.644,40.741     c0.528,0.014,1.057,0.017,1.585,0.01h286.824c22.988,0,43.886-17.763,43.886-40.751v-8.359     c7.127-1.377,13.888-4.224,19.853-8.359c8.465-7.127,13.885-17.22,15.151-28.212l24.033-212.114     C432.44,82.815,415.905,62.088,392.896,59.357z M350.055,362.9c0,11.494-11.494,19.853-22.988,19.853H40.243     c-10.383,0.305-19.047-7.865-19.352-18.248c-0.016-0.535-0.009-1.07,0.021-1.605v-38.661l80.98-59.559     c9.728-7.469,23.43-6.805,32.392,1.567l56.947,50.155c8.648,7.261,19.534,11.32,30.825,11.494     c8.828,0.108,17.511-2.243,25.078-6.792l102.922-59.559V362.9z M350.055,236.99l-113.894,66.351     c-9.78,5.794-22.159,4.745-30.825-2.612l-57.469-50.678c-16.471-14.153-40.545-15.021-57.992-2.09l-68.963,50.155V149.219     c0-11.494,7.837-22.465,19.331-22.465h286.824c12.28,0.509,22.197,10.201,22.988,22.465V236.99z M409.112,103.035     c-0.007,0.069-0.013,0.139-0.021,0.208l-24.555,212.114c0.042,5.5-2.466,10.709-6.792,14.106c-2.09,2.09-6.792,3.135-6.792,4.18     V149.219c-0.825-23.801-20.077-42.824-43.886-43.363H77.337l4.702-40.751c1.02-5.277,3.779-10.059,7.837-13.584     c4.582-3.168,10.122-4.645,15.674-4.18l284.735,32.914C401.773,81.346,410.203,91.545,409.112,103.035z')
                    div
                        a(href='#experienceLink')
                            svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 -31 512 512' style="width: 30px;")
                                path(d='m497.09375 60.003906c-.03125 0-.0625-.003906-.09375-.003906h-136v-15c0-24.8125-20.1875-45-45-45h-120c-24.8125 0-45 20.1875-45 45v15h-136c-8.351562 0-15 6.84375-15 15v330c0 24.8125 20.1875 45 45 45h422c24.8125 0 45-20.1875 45-45v-329.683594c0-.019531 0-.039062 0-.058594-.574219-9.851562-6.632812-15.199218-14.90625-15.253906zm-316.09375-15.003906c0-8.269531 6.730469-15 15-15h120c8.269531 0 15 6.730469 15 15v15h-150zm295.1875 45-46.582031 139.742188c-2.042969 6.136718-7.761719 10.257812-14.226563 10.257812h-84.378906v-15c0-8.285156-6.714844-15-15-15h-120c-8.285156 0-15 6.714844-15 15v15h-84.378906c-6.464844 0-12.183594-4.121094-14.226563-10.257812l-46.582031-139.742188zm-175.1875 150v30h-90v-30zm181 165c0 8.269531-6.730469 15-15 15h-422c-8.269531 0-15-6.730469-15-15v-237.566406l23.933594 71.796875c6.132812 18.40625 23.289062 30.769531 42.6875 30.769531h84.378906v15c0 8.285156 6.714844 15 15 15h120c8.285156 0 15-6.714844 15-15v-15h84.378906c19.398438 0 36.554688-12.363281 42.6875-30.769531l23.933594-71.796875zm0 0')
                    div
                        a(href='#contactLink')
                            svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 511.626 511.627', style='enable-background:new 0 0 511.626 511.627; width: 30px;', xml:space='preserve')
                              path(d='M498.208,68.235c-8.945-8.947-19.701-13.418-32.261-13.418H45.682c-12.562,0-23.318,4.471-32.264,13.418   C4.471,77.18,0,87.935,0,100.499v310.633c0,12.566,4.471,23.312,13.418,32.257c8.945,8.953,19.701,13.422,32.264,13.422h420.266   c12.56,0,23.315-4.469,32.261-13.422c8.949-8.945,13.418-19.697,13.418-32.257V100.499   C511.626,87.935,507.158,77.18,498.208,68.235z M475.078,411.125c0,2.475-0.903,4.616-2.714,6.424   c-1.81,1.81-3.949,2.706-6.42,2.706H45.679c-2.474,0-4.616-0.896-6.423-2.706c-1.809-1.808-2.712-3.949-2.712-6.424V191.858   c6.09,6.852,12.657,13.134,19.7,18.843c51.012,39.209,91.553,71.374,121.627,96.5c9.707,8.186,17.607,14.561,23.697,19.13   c6.09,4.571,14.322,9.185,24.694,13.846c10.373,4.668,20.129,6.991,29.265,6.991h0.287h0.284c9.134,0,18.894-2.323,29.263-6.991   c10.376-4.661,18.613-9.274,24.701-13.846c6.089-4.569,13.99-10.944,23.698-19.13c30.074-25.126,70.61-57.291,121.624-96.5   c7.043-5.708,13.613-11.991,19.694-18.843V411.125L475.078,411.125z M475.078,107.92v3.14c0,11.229-4.421,23.745-13.271,37.543   c-8.851,13.798-18.419,24.792-28.691,32.974c-36.74,28.936-74.897,59.101-114.495,90.506c-1.14,0.951-4.474,3.757-9.996,8.418   c-5.514,4.668-9.894,8.241-13.131,10.712c-3.241,2.478-7.471,5.475-12.703,8.993c-5.236,3.518-10.041,6.14-14.418,7.851   c-4.377,1.707-8.47,2.562-12.275,2.562h-0.284h-0.287c-3.806,0-7.895-0.855-12.275-2.562c-4.377-1.711-9.185-4.333-14.417-7.851   c-5.231-3.519-9.467-6.516-12.703-8.993c-3.234-2.471-7.614-6.044-13.132-10.712c-5.52-4.661-8.854-7.467-9.995-8.418   c-39.589-31.406-77.75-61.57-114.487-90.506c-27.981-22.076-41.969-49.106-41.969-81.083c0-2.472,0.903-4.615,2.712-6.421   c1.809-1.809,3.949-2.714,6.423-2.714h420.266c1.52,0.855,2.854,1.093,3.997,0.715c1.143-0.385,1.998,0.331,2.566,2.138   c0.571,1.809,1.095,2.664,1.57,2.57c0.477-0.096,0.764,1.093,0.859,3.571c0.089,2.473,0.137,3.718,0.137,3.718V107.92   L475.078,107.92z')
