doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name="theme-color", content="#E3EBED")
    meta(name='description', content="Gaseema is a polyglot developer with over 4 years of experience as a software engineer, and have worked at both small startups and large organizations. While I'm a proficient full-stack developer, I'm majorly focused on server side development, but equally inclined to client side development as well.")
    meta(name='keywords', content="Gaseema,Gaseema Ndungu,Ndung'u,Blockchain Developer,NodeJS,software developer")
    meta(name='author', content="Gaseema Ndung'u")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel="shortcut icon" type="image/png" href="images/logo.png")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/main.js')
    link(href='https://fonts.googleapis.com/css?family=Quicksand', rel='stylesheet')
    link(rel="icon" href="/images/logo.png" type="image/png")
    title Gaseema Ndung'u
  body
    block content
