body {
    background: url(/images/bg.png);
    overflow-x: hidden;
}

a, p, h1, h2, h3, h4, h5, h6, button {
    font-family: 'Quicksand', sans-serif !important;
}

.containerHolder {
    width: 90%;
    margin-left: auto !important;
    margin-right: auto !important;
}

/*****************************************
            Profile Section
*****************************************/
.profileSection {}

.profileInfo {
    background: #C0E3E7;
    text-align: center;
    padding: 40px;
}

.profileInfo img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    object-position: 63% 55%;
}

.profileInfo p {
    font-weight: 700;
    font-size: 1.3em;
    padding-top: 10px;
    margin-bottom: 0px;
}

.profileInfo ul {}

.profileInfo ul li {
    display: inline-block;
    padding: 10px;
}

.cvLink {
    background: white;
    padding: 40px 0px;
    text-align: center;
}

.cvLink button {
    background: #C0E3E7;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

/*****************************************
            Infomation Section
*****************************************/
.infoSection {}

.aboutMe {
    background: white;
    padding: 40px !important;
}
.aboutMe h3{
    font-weight: bold;
}

.aboutMe button {
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    border: solid #C0E3E7 2px;
    background: white;
    margin-bottom: 65px;
    margin-top: 10px;
}

/*****************************************
            Navigation Section
*****************************************/
.navSection {}

.navLinks {
    text-align: center;
}

.navLinks a{
}
